@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-size: cover;
    background-position: center;
   background-attachment: fixed;
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background:url(login.jpg);
    display: list-item;
    background-position: 7% 12%;
}
.container
{
    margin-top: 100px;
    margin-left: 33%;
    background:linear-gradient(rgb(146, 183, 218),rgb(102, 104, 160));
    padding: 1.5rem 4rem 3rem 4rem;
    width:500px;
    height: 400px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.heading
{ 
    font-size: 25px;
    color: rgb(11, 11, 11);
    text-align: center;
    font-weight: 800;
}

input[type=submit] {
  margin-left: 37%;
  margin-top: 27%;
  align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    font-size: 18px;
    border-color: transparent;
    transition: .33s all;
  }
  input[type=submit]:hover
  {
    font-size: 20px;
    background-color: #e9f0ed;
    color: black;
  }
  input[type=text]
  { background-color: #e9f0ed;
    color: rgb(34, 29, 29);
    cursor: pointer;
    width: 300px;
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 11%;
    margin-top: 50px;
    border-color: transparent;
  }
  input[type=password]
  { background-color: #ecf1f0;
    color: rgb(34, 29, 29);
    cursor: pointer;
    width: 300px;
    height: 35px;
    border-color: transparent;
    border-radius: 7px;
    font-size: 18px;
    margin-top: 6%;
    margin-left: 11%;
  }
  .alt h4{
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 20px;
  }
  .social
  {
    text-align: center;
    font-size: 25px;
  }
  #icon
  {
    margin-left: .5%;
    margin-right: .5%;
    height: 35px;
    width: 40px;
    top: 35px;
    
    border-radius: 50%;
    text-decoration: none;
    color: #1d30bd;
    font-size: 30px;
    
    transition: .33s all;
  }
  #icon:hover
  {
    
    color: #000000;
    font-size:33px ;
  }
  .other_opt
  {
    text-align: center;
    display: block;
    text-decoration: none;
    color: aqua;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .other_opt .btn1
  {
    margin-right: 2%;
    text-decoration: none;
  }
  .other_opt .btn2
  {
  
    text-decoration: none;
  }
  @media(max-width:1500px)
  {
    .container
  
    {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media(max-width:510px)
  {
    .container
  
    {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }
    input[type=text]
  { background-color: #e9f0ed;
    color: rgb(34, 29, 29);
    cursor: pointer;
    width: 300px;
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 0%;
    margin-top: 50px;
    border-color: transparent;
  }
  input[type=password]
  { background-color: #ecf1f0;
    color: rgb(34, 29, 29);
    cursor: pointer;
    width: 300px;
    height: 35px;
    border-color: transparent;
    border-radius: 7px;
    font-size: 18px;
    margin-top: 6%;
    margin-left: 0%;
  }
  }
  @media(max-width:375px)
  {
    .alt h4{
      text-align: center;
      font-size: 22px;
      margin-top: 2%;
      margin-left: 15%;
    }
    .other_opt
    {
      margin-left: 15%;
    }
    .social
  
    {
      margin-left: 15%;
    }
  
  }
